/*-------Global styling-------*/
:root {
  --font-family-bold: 'Bold';
  --font-family-medium: 'Medium';
  --font-family-regular: 'Regular';
  --color-gray: #dddddd;
  --color-light-gray: #fbf9fe;
  --color-text-primary: #222222;
  --color-link-primary: #005da6;
  --color-link-secondary: #004a84;
  --nav-button: #3e4241;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* default selection */
::selection {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.9);
}

::-moz-selection {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.9);
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: var(--font-family-regular);
  font-size: 16px;
  color: var(--color-text-primary);
  overflow-x: hidden;
}

body {
  background-color: var(--color-light-gray);
}

/* Local styling */
.centerx,
.con-notifications,
.con-notifications-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page {
  padding: 5rem 12rem;
}
.page h1 {
  line-height: 52px;
  margin-bottom: 12px;
}

.container {
  max-width: 90%;
  margin: auto;
}

.text__center {
  text-align: center;
}

.mx-t {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*-------Typography-------*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
  font-family: var(--font-family-bold);
  color: var(--color-primary);
  overflow: hidden;
}

.h1 {
  font-size: 5rem;
  line-height: 6rem;
  margin-bottom: 18vmin;
}

.h2 {
  font-size: 4.125rem;
  line-height: 5.375rem;
  margin-bottom: 16vmin;
}

.h3 {
  font-size: 3.125rem;
  line-height: 4.313rem;
  margin-bottom: 8vmin;
}

.h4 {
  font-size: 1.625rem;
  line-height: 2.5rem;
  margin-bottom: 4vmin;
}

.h5 {
  font-size: 1.125rem;
  line-height: 1.733rem;
  margin-bottom: 2vmin;
}

.h6 {
  font-size: 1rem;
  line-height: 1.54rem;
  margin-bottom: 1vmin;
}

.p {
  font-family: var(--font-family-regular);
  font-size: 1.625rem;
  line-height: 2.5rem;
  margin-bottom: 4vmin;
}
@media only screen and (max-width: 480px) {
  .h4 {
    font-size: 1.24rem;
    line-height: 2.5rem;
    margin-bottom: 2vmin;
  }
  .h6 {
    font-size: 0.89rem !important;
  }
}
/* Owl carousel */

.owl-carousel {
  text-align: center; /* center align owl-nav-dots */
}
.owl-carousel .owl-stage-outer {
  overflow: visible; /* fix shadow visibility */
  padding-bottom: 20px;
}
.owl-theme .owl-dots {
  display: inline-flex;
  align-items: center;
}
.owl-theme .owl-dots .owl-dot span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: all 0.25s ease, background 0.25s ease-in;
}
.owl-theme .owl-dots .owl-dot.active span {
  width: 10px;
  height: 10px;
}
.vs-con-table .vs-table--tbody-table {
  min-width: 280px !important;
}
